<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/R2KzL03/logoo.png">
  </head>
  <style>
    .navbar-item img {
      max-height: 100%;
  }
      body {
      font-size: 1.5rem;
      font-weight: 400;
      }
      </style>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://i.ibb.co/k6MhbCX/logo.png" width="200" height="60">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Inicio
            </a>
      
            <a class="navbar-item" href="/equipo">
              Equipo
            </a>

            <a class="navbar-item" href="/ubicacion">
                Ubicación farmacias
            </a>

            <a class="navbar-item" href="/precios">
                Comparador de precios
            </a>
          </div>
        </div>
    </nav>
        <div class="column">
            <div class="box">
              <p class="title is-5">¿Quiénes somos?</p>
              <p class="subtitle">Nuestro equipo está conformado por:</p>
            </div>
          </div>
      <div class="columns m-auto">
      <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="https://i.ibb.co/vzqfSB7/diego.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Diego Duhalde</p>
              <p class="subtitle is-6">dduhalde@alumnos.uai.cl</p>
            </div>
          </div>
      
          <div class="content">
            Carrera: Ing. Civil
            <br>
            Edad: 19 años
            <br>
            Cumpleaños: 19/09
            <br>
          </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="https://www.instagram.com/diego_duu/" target="_blank">Instagram</a>
              </span>
            </p>
          </footer>
      </div>
    </div>
    <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="https://i.ibb.co/23fjpMh/carlos.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Carlos Serra</p>
                <p class="subtitle is-6">cserra@alumnos.uai.cl</p>
              </div>
            </div>
            <div class="content">
              Carrera: Ing. Civil
              <br>
              Edad: 19 años
              <br>
              Cumpleaños: 23/09
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="https://www.instagram.com/carloosserra/" target="_blank">Instagram</a>
              </span>
            </p>
          </footer>
      </div>
    </div>
    <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="https://i.ibb.co/MMXNRgV/vicente.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Vicente Ramírez</p>
                <p class="subtitle is-6">vicenteramirez@alumnos.uai.cl</p>
              </div>
            </div>
        
            <div class="content">
              Carrera: Ing. Civil
              <br>
              Edad: 18 años
              <br>
              Cumpleaños: 04/04
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="https://www.instagram.com/vicenteram1rez/" target="_blank">Instagram</a>
              </span>
            </p>
          </footer>
      </div>
    </div>
    <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="https://i.ibb.co/7gnhpzy/benja.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Benjamín Herrera</p>
                <p class="subtitle is-6">benherrera@alumnos.uai.cl</p>
              </div>
            </div>
            <div class="content">
              Carrera: Ing. Civil
              <br>
              Edad: 18 años
              <br>
              Cumpleaños: 28/01
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="https://www.instagram.com/bht.03/" target="_blank">Instagram</a>
              </span>
            </p>
          </footer>
      </div>
    </div>
            
</body>
</html>