<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Precios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/R2KzL03/logoo.png">
  </head>
  <style>
    .navbar-item img {
      max-height: 100%;
  }
      body {
      font-size: 1.5rem;
      font-weight: 400;
      }
      </style>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://i.ibb.co/k6MhbCX/logo.png" width="200" height="60">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Inicio
            </a>
      
            <a class="navbar-item" href="/equipo">
              Equipo
            </a>

            <a class="navbar-item" href="/ubicacion">
                Ubicacion farmacias
            </a>

            <a class="navbar-item" href="/precios">
                Comparador de precios
            </a>
          </div>
        </div>
      </nav>
      <div class="column">
        <div class="box">
          <p class="title is-5">Buscar un medicamento:</p>
        </div>
      </div>
      <div class="field is-grouped mr-6 ml-6">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Nombre medicamento">
        </p>
        <p class="control">
          <a class="button is-info">
            Buscar
          </a>
        </p>
      </div>
      <table class="table table is-bordered is-striped is-narrow is-hoverable mx-auto">
        <thead>
          <tr>
            <th><abbr title="Codigo">Code</abbr></th>
            <th><abbr title="Marca">Marca</abbr></th>
            <th><abbr title="Principio Activo">Principio Activo</abbr></th>
            <th><abbr title="Precio">Precio</abbr></th>
            <th><abbr title="Laboratorio">Laboratorio</abbr></th>
            <th><abbr title="Clasificacion">Clasificacion</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>BREVEX X20COM.REC.</td>
            <td>CLORZOXAZONA 250 MG, PARACETAMOL 300MG</td>
            <td>$ 5,843</td>
            <td>BAGO</td>
            <td>SALUD MENTAL</td>
          </tr>
          <tr>
            <th>2</th>
            <td>KITADOL 500MG X 24COMP</td>
            <td>PARACETAMOL 500MG
            </td>
            <td>$ 724
            </td>
            <td>CHILE
            </td>
            <td>ANALGESICO
            </td>
        
          </tr>
          <tr>
            <th>3</th>
            <td>NASTUL COMPUESTO X 10 COMP</td>
            <td>PARACETAMOL, PSEUDOEFEDRINA, CLORFENAMINA
            </td>
            <td>$ 760
            </td>
            <td>SANITAS
            </td>
            <td>ANALGESICO
            </td>
            
          </tr>
          <tr>
            <th>4</th>
            <td>NASTUL JARABE 125/30/2MG/5 ML FRA</td>
            <td>PARACETAMOL, PSEUDOEFEDRINA, CLORFENAMINA
            </td>
            <td>$ 845
            </td>
            <td>SANITAS
            </td>
            <td>ANALGESICO
            </td>
        
          </tr>
          <tr>
            <th>5</th>
            <td>SEDOPECT JBE 120 ML</td>
            <td>CODEINA PARACETAMOL PSEUDOEFEDRINA
            </td>
            <td>$ 1,442
            </td>
            <td>SANITAS
            </td>
            <td>APARATO RESPIRATORIO
            </td>
            
          </tr>
          <tr>
            <th>6</th>
            <td>SUPRACALM 1g X20COM.</td>
            <td>PARACETAMOL
            </td>
            <td>$ 4,976
            </td>
            <td>TECNOFARMA
            </td>
            <td>ANALGESICO
            </td>
            
          </tr>
          <tr>
            <th>7</th>
            <td>TRAMADOL/PARACET 37,5/325M CAJ 30 CM REC</td>
            <td>TRAMADOL PARACETAMOL
            </td>
            <td>$ 1,351
            </td>
            <td>PHARMATRADE
            </td>
            <td>ANALGESICO
            </td>
            
          </tr>
        </tbody>
      </table>
  </body>
</html>